:root {
    --font-nunito: 'Nunito Sans', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    --white: #FFFFFF;
    --red: #FF0000;
    --black: #000000;
    --dark-header: #00000066;
    --menu-hover: #FFFFFF33;
    --blog-text: #6A6A6A;
    --grey-background: #28272C;
    --light-grey: #B2B2B2;
}

body {
    font-family: var(--font-nunito);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.baner {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/Desktop Layout/Image@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: var(--white);
}

.baner::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000000 no-repeat;
    opacity: 0.3;
    position: absolute;
}

.content-container {
    width: 1088px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.header-dark-background {
    width: 100%;
    height: 90px;
    background-color: var(--dark-header);
    position: absolute;
    border-bottom: 2px solid var(--menu-hover);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.logo span {
    color: var(--red);
    font-weight: 800;
    padding: 0 5px 0 10px;
}

.menu {
    display: flex;
    align-items: center;
}

li {
    padding: 37px;
}

li:hover {
    background: var(--menu-hover);
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    flex-grow: 1;
}

.title {
    font-size: 90px;
    font-weight: 900;
}

.title-text {
    padding: 54px 0;
    text-transform: none;
}

.butons {
    display: flex;
    justify-content: space-between;

}

.share-button {
    text-decoration: none;
    background: var(--red);
    color: var(--white);
    padding: 22px 55px;
    border-radius: 30px;
    margin: 0 15px;
}

.key-button {
    text-decoration: none;
    background: var(--white);
    color: var(--red);
    padding: 22px 55px;
    border-radius: 30px;
    margin: 0 15px;
}
.arrow {
    width: 55px;
    height: 55px;
    background: var(--red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(-55px/2);
    left: calc(1088px * 0.5 - 55px * 0.5)

}
.arrow img {
    width: 20px;
    height: 20px;
}

.blog {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.blog__container {
    width: 1088px;
    color: var(--blog-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__title {
    color: var(--black);
    font-size: 35px;
    font-weight: 700;
    padding: 90px 0 35px 0;
    position: relative;
}

.blog__title span::before {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--red);
    position: absolute;
    left: -60px;
    bottom: 52px;
}

.blog__title span::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--red);
    position: absolute;
    left: 105px;
    bottom: 52px;
}

.articles {
    display: flex;
    padding-bottom: 100px;
}
.blog__article {
    padding: 0 8px;
}
.article-photo-img {

}
.article-title {
    font-size: 19px;
    padding: 24px 0 15px 0;

}
.blog-article-text {
    font-size: 14px;
    font-weight: 300;
    padding: 0 0 30px 0;
    text-transform: none;
}

.article-btn {
    background: var(--red);
    text-decoration: none;
    font-size:  14px;
    border-radius: 20px;
    padding: 10px 30px;
    color: var(--white);
    font-weight: 700;
}



.service {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: var(--grey-background);
    color: var(--white);
}

.service__container {
    width: 1088px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__title {
    font-size: 35px;
    font-weight: 700;
    padding: 60px 0 35px 0;
    position: relative;
}

.service__title span::before {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--red);
    position: absolute;
    left: -60px;
    bottom: 52px;
}

.service__title span::after {
    content: "";
    width: 50px;
    height: 3px;
    background: var(--red);
    position: absolute;
    left: 155px;
    bottom: 52px;
}

.service__article {
    width: 231px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__article__photo {
    width: 170px;
    height: 170px;
    border-radius: 85px;
}

.service-article-title {
    font-size: 19px;
    padding: 24px 0 15px 0;
    color: var(--white);

}
.service-article-text {
    text-align: center;
    font-family: var(--font-open);
    font-size: 14px;
    color: var(--light-grey);
    text-transform: none;
    padding: 0 0 30px 0;
}